.countIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: #e9f2f1;
  padding: 0 6px;
  height: 20px;
  color: #319985;
  font-weight: 500;
}
