.button {
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f2f1;
  color: #319985;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
